body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    flex-direction: column;
}

.container,
.day-counter {
    width: 90%;
    /* Or any other width */
    margin: auto;
    text-align: center;
    /* Centers text within the containers */
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title {
    font-family: ubuntu;
    font-size: large;
    margin-bottom: 50px;
}

.counter {
    font-size: 1.5em;
    margin-bottom: 30px;
}

button {
    font-size: 1.5em;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #098BDB;
    color: white;
    cursor: pointer;
    /*  */
    

}

button:hover {
    background-color: #0C62AB;
}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    
}


.progress-container {
    width: 100%;
    max-width: 400px;
    margin-bottom: 30px;
}

progress {
    width: 100%;
    height: 30px;
    appearance: none;
    border: none;
    border-radius: 5px;
    background-color: #eee;
}

progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 5px;
}

progress::-webkit-progress-value {
    background-color: #098BDB;
    border-radius: 5px;
}

.counter {
    font-size: 1.5em;
    margin-bottom: 30px;
    font-weight: bold;
    color: #098BDB;
}

.day-counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    font-size: 1.5em;
    margin-bottom: 30px;
    font-weight: bold;
    font-family: ubuntu;
    

}

.dark_mode_button{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ffffff;
    color: black;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.5em;
    margin-bottom: 30px;
    font-weight: bold;
    font-family: ubuntu;
}
.dark-mode {
    background-color: #121212;
    color: white;

}




/* add mobile css */
@media only screen and (max-width: 600px) {
    body{
        height: 120vh;
    }
    .container,
    .day-counter {
        width: 100%;
        /* Or any other width */
        margin: auto;
        text-align: center;
        /* Centers text within the containers */
    }

    .buttons-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
        margin-bottom: 30px;
    }

    .dark_mode_button{
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: #ffffff;
        color: black;
        border: 1px solid #ccc;
        cursor: pointer;
        border-radius: 5px;
        padding: 5px 10px;
        font-size: .5em;
        margin-bottom: 30px;
        font-weight: bold;
        font-family: ubuntu;
    }
    .dark-mode {
        background-color: #121212;
        color: white;
    
    }
}
